@import "tailwindcss";

@theme {
  --color-brand-50: #eef2ff;
  --color-brand-100: #e0e7ff;
  --color-brand-500: #6366f1;
  --color-brand-600: #4f46e5;
  --color-brand-900: #312e81;

  --color-background: #f8fafc;
  --color-surface: #ffffff;
}

@layer base {
  :root {
    --background: #f8fafc;
    --foreground: #0f172a;
  }

  body {
    @apply bg-[var(--background)] text-[var(--foreground)] antialiased font-sans selection:bg-brand-500 selection:text-white;
  }
}

@layer utilities {
  .glass-panel {
    @apply bg-white/70 backdrop-blur-md border border-white/20 shadow-xl shadow-brand-900/5;
  }
  
  .premium-shadow {
    @apply shadow-[0_8px_30px_rgb(0,0,0,0.04)];
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
